.animated {
   transition: ease 0.3s;
}

.delayed {
   transition-delay: 0.1s;
}

.inactive {
   opacity: 0;
   transform: translateY(20px);
}

.active {
   opacity: 1;
   transform: translateY(0px);
}

@keyframes scroll {
   0% {
      transform: translate(0);
   }
   100% {
      transform: translate(-100%);
   }
}

.slide-track {
   animation: scroll 20s linear infinite;
}

@keyframes pulsing {
   0% {
      transform: scale(100%);
   }
   50% {
      transform: scale(110%);
   }
   100% {
      transform: scale(100%);
   }
}

.anim-pulse {
   animation: pulsing 1s ease-in-out infinite;
}
