---
const { textBtn, destPage } = Astro.props;
---

<a
   class="flex items-center justify-between gap-2 w-auto px-3 py-2 bg-white text-black rounded-lg cursor-pointer font-medium leading-4"
   href={destPage}
   target="_blank"
>
   <slot />
   <span class="hidden sm:inline">{textBtn}</span>
</a>
