---
import Tile from "../GridTile.astro";
import CoverImg from "./CoverImg.astro";
import ContactInfo from "./ContactInfo.astro";
import ProfileDescription from "./ProfileDescription.astro";
import YearsOfExperience from "./YearsOfExperience.astro";
import LocationMap from "./LocationMap.astro";
---

<section class="grid grid-cols-6 auto-rows-[minmax(172px,auto)] gap-4 w-full">
   <Tile propClasses="col-span-6 lg:col-span-4 lg:row-span-2">
      <CoverImg />
      <ContactInfo />
   </Tile>
   <Tile propClasses="col-span-6 lg:col-span-2 p-7 gap-2 delayed">
      <ProfileDescription />
   </Tile>
   <Tile
      propClasses="col-span-3 lg:col-span-1 items-center justify-center gap-2 delayed "
   >
      <YearsOfExperience />
   </Tile>
   <Tile propClasses="col-span-3 lg:col-span-1 delayed">
      <LocationMap />
   </Tile>
</section>
