---
import AddressImage from "./AddressImage.astro";
import MapImg from "../../assets/img/28DeNoviembre.png";
---

<a
   class="flex relative w-full h-full items-center justify-center bg-black"
   target="_blank"
   href="https://maps.app.goo.gl/SgVhhQBWeUfE5xay5"
>
   <img
      class="w-full h-full grayscale opacity-90"
      src={MapImg.src}
      alt="Address"
   />
   <AddressImage />
   <span class="absolute bottom-5 text-sm font-medium text-slate-900">
      From Santa Cruz, AR
   </span>
</a>
