---
import AddressImage from "./AddressImage.astro";
import MapImg from "../../assets/img/28DeNoviembre.png";
---

<a
   class="flex relative w-full h-full items-center justify-center dark:bg-black bg-white"
   target="_blank"
   href="https://maps.app.goo.gl/SgVhhQBWeUfE5xay5"
>
   <img
      class="w-full h-full object-cover grayscale opacity-50 dark:opacity-90"
      src={MapImg.src}
      alt="Address"
   />
   <AddressImage />
   <span class="absolute bottom-5 text-sm font-medium text-black">
      De Santa Cruz, AR
   </span>
</a>
