---
import Paragraph from "../Paragraph.astro";
---

<span class="text-2xl font-bold">About</span>
<Paragraph>
   Graduated with background in software engineering, programming expertise and
   a passion for web development.
</Paragraph>
