---
const years = 2;
---

<div class="flex text-7xl font-bold gap-1">
   <span>+</span>
   <span>{years}</span>
</div>
<p class="text-sm font-medium opacity-70 max-w-fit text-center">
   Years of experience
</p>
