<section class="grid grid-cols-6 auto-rows-[172px] gap-6 w-full">
   <div class="col-span-4 row-span-2 overflow-hidden rounded-3xl">
      <img
         src="src/assets/Foto-Portada.webp"
         class="w-full h-full object-cover"
      />
   </div>
</section>
