---
const { textBtn } = Astro.props;
---

<a
   class="flex items-center justify-between gap-2 w-auto px-3 py-2 bg-white text-black rounded-lg cursor-pointer font-medium"
   href="https://drive.google.com/file/d/1cJhy2wciribekFL0_B-CadDyx79zpp_6/view?usp=drive_link"
   target="_blank"
>
   <span>{textBtn}</span>
</a>
