---
import Tile from "./GridTile.astro";
import AboutBtn from "./AboutBtn.astro";
import LinkedInSVG from "./LinkedInSVG.astro";
import EmailSVG from "../components/EmailSVG.astro";
import GithubSVG from "./GithubSVG.astro";
import Avatar from "./Avatar.astro";
import CoverImg from "../assets/img/FotoPortada.webp";
---

<section class="grid grid-cols-6 auto-rows-[172px] gap-4 w-full">
   <Tile propClasses="xl:col-span-4 row-span-2 relative col-span-6">
      <img src={CoverImg.src} class="w-full h-full object-cover absolute" />
      <div class="absolute z-[1] flex flex-col w-full p-5 bottom-0 text-white">
         <span class="text-3xl font-bold leading-7"> Alejandro Juarez</span>
         <p class="leading-9 font-medium text-lg">
            Systems Analyst - FullStack Developer
         </p>
         <div class="flex gap-2 mt-1">
            <AboutBtn
               textBtn="Linkedin"
               destPage="https://www.linkedin.com/in/alejandro-juarez96/"
            >
               <LinkedInSVG />
            </AboutBtn>
            <AboutBtn textBtn="Github" destPage="https://github.com/Alejo9601">
               <GithubSVG />
            </AboutBtn>
            <AboutBtn
               textBtn="Email"
               destPage="mailto:alejandro96laboral@gmail.com"
            >
               <EmailSVG />
            </AboutBtn>
         </div>
      </div>
   </Tile>
   <Tile propClasses="xl:col-span-2 col-span-6 p-7 gap-2 delayed">
      <span class="text-2xl font-bold">About</span>
      <p class="opacity-70">
         Web developer with experience in designing, developing and maintaining
         front-end web applications.
      </p>
   </Tile>
   <Tile
      propClasses="xl:col-span-1 col-span-3 items-center justify-center gap-2 delayed "
   >
      <div class="flex text-7xl font-bold gap-1">
         <span>+</span>
         <span>1</span>
      </div>
      <p class="text-sm font-medium opacity-70 max-w-fit text-center">
         Years of experience
      </p>
   </Tile>
   <Tile
      propClasses="xl:col-span-1 col-span-3 anim-pause-1 delayed relative items-center justify-center"
   >
      <div class="">
         <img
            class="w-full h-full grayscale opacity-60"
            src="src/assets/img/28DeNoviembre.png"
            alt="Map"
         />
      </div>
      <Avatar />
      <span class="absolute bottom-5 text-sm font-medium text-slate-900">
         From Santa Cruz, AR
      </span>
   </Tile>
</section>
