---
const { bgImg } = Astro.props;
---

<div class="col-span-2 row-span-2 py-14 rounded-3xl relative overflow-hidden">
   <div class="flex flex-col items-center">
      <p
         class="leading-5 mt-2 z-[1] text-black dark:text-white text-center font-medium"
      >
         Systems Analyst - Java Developer <br /> Jan. 2018 - Jan. 2019
      </p>
   </div>s
   <img
      class="w-full h-full object-cover absolute top-0 z-0 left-0 opacity-60"
      src={bgImg}
      alt="Enterprise Logo"
   />
</div>
