---
const { side } = Astro.props;
const gradient = side == "left" ? "bg-gradient-to-r" : "bg-gradient-to-l";
const position = side == "left" ? "left-0" : "right-0";
---

<div
   class=`absolute ${position} ${gradient} h-full w-14 md:w-20 lg:w-28 dark:from-dark-tiles-color from-light-tiles-color to-transparent z-[1]`
>
</div>
