---
import SunSVG from "./SunSVG.astro";
---

<div>
   <input class="hidden" type="checkbox" name="toggler" id="toggler" />
   <label class="cursor-pointer" for="toggler">
      <div class="text-yellow-500 dark:text-slate-400">
         <SunSVG />
      </div>
   </label>
</div>
