---
import SectionTitle from "./SectionTitle.astro";
import Card from "./Card.astro";
const description = "You can see here all of my experience as a programmer";
const title = "Experience";
---

<section class="flex flex-col gap-10">
   <SectionTitle title={title} description={description} />
   <div class="grid grid-cols-6 auto-rows-[260px] w-full gap-4">
      <Card
         bgImg="src/assets/Municipalidad28.webp"
         logoImg="src/assets/escudo28denoviembre.png"
         eName="Municipalidad 28 de Noviembre"
         rolName="Systems Analyst - Java Developer"
         dates="Jan. 2018 - Jan. 2019"
      />
      <Card
         bgImg="src/assets/casa-de-gobierno-santa-cruz.webp"
         logoImg="src/assets/EscudoProvSantaCruz.png"
         eName="Consejo Provincial de Educación"
         rolName="Systems Analyst - Java Developer"
         dates="Jan. 2018 - Jan. 2019"
      />
      <Card
         bgImg="src/assets/Municipalidad28.webp"
         logoImg="src/assets/escudo28denoviembre.png"
         rolName="Systems Analyst - Java Developer"
         dates="Jan. 2018 - Jan. 2019"
      />
   </div>
</section>
