---
import Card from "./Card.astro";
import SectionContainer from "./SectionContainer.astro";
const description = "You can see here all of my experience as a programmer";
const title = "Experience";
---

<SectionContainer title={title} description={description}>
   <div class="grid grid-cols-6 auto-rows-[260px] w-full gap-4">
      <Card
         bgImg="src/assets/Municipalidad28.webp"
         logoImg="src/assets/escudo28denoviembre.png"
         eName="Municipality of Veintiocho de Noviembre"
         rolName="Systems Analyst - Java Developer"
         dates="Jan. 2018 - Jan. 2019"
      />
      <Card
         bgImg="src/assets/programming.webp"
         logoImg="src/assets/EscudoProvSantaCruz.png"
         eName="Provincial Education Council"
         rolName="Applied Computer Science Professor"
         dates="Jan. 2018 - Jan. 2019"
      />
      <Card
         bgImg="src/assets/computing.webp"
         logoImg="src/assets/EscudoProvSantaCruz.png"
         eName="Provincial Education Council"
         rolName="IT Office Manager"
         dates="Jan. 2018 - Jan. 2019"
      />
   </div>
</SectionContainer>
