---
import EmailSVG from "./EmailSVG.astro";
import LinkedInSVG from "./LinkedInSVG.astro";
import Paragraph from "./Paragraph.astro";
---

<footer
   class="flex flex-col lg:flex-row items-center justify-center gap-4 lg:gap-0 lg:justify-between px-10 h-40 w-full dark:bg-slate-900 rounded-3xl dark:text-white text-black bg-slate-100 animated inactive delayed"
>
   <div>
      <Paragraph> Alejandro Juarez - Full Stack Developer </Paragraph>
      <Paragraph
         >Made with <span class="font-extrabold">Astro</span>
         and
         <span class="font-extrabold">Vanilla Javascript</span>
      </Paragraph>
   </div>
   <div
      class="flex flex-row items-center justify-center w-full lg:w-auto lg:flex-col gap-3"
   >
      <div
         class="flex w-auto lg:w-full justify-end gap-2 dark:text-white text-black text-2xl lg:text-base"
      >
         <a
            class="cursor-pointer"
            href="mailto:alejandro96laboral@gmail.com"
            target="_blank"
            aria-label="Send me an email"
         >
            <EmailSVG />
         </a>
         <a
            class="cursor-pointer"
            href="https://www.linkedin.com/in/alejandro-juarez96/"
            target="_blank"
            aria-label="Go to my linkedin"
         >
            <LinkedInSVG />
         </a>
      </div>
      <Paragraph propClasses="hidden sm:inline">
         Last update: March 2024
      </Paragraph>
   </div>
</footer>
