---
const { propClasses } = Astro.props;
---

<div
   class=`flex flex-col bg-light-tiles-color dark:bg-dark-tiles-color dark:text-white text-black overflow-hidden rounded-3xl inactive animated ${propClasses}`
>
   <slot />
</div>
