---
import Logo from "./Logo.astro";
import DownloadCvBtn from "./DownloadCvBtn.astro";
import DarkModeToggler from "./DarkModeToggler.astro";
import LanguageToggler from "./LanguageToggler.astro";
---

<header
   class="flex h-20 justify-center w-full fixed z-[3] backdrop-blur-lg subpixel-antialiased"
>
   <div
      class="flex justify-between max-w-5xl xl:max-w-6xl h-full w-full p-5 items-center bg-white dark:bg-inherit"
   >
      <Logo />
      <div class="flex xl:gap-8 lg:gap-5 gap-3 items-center">
         <DarkModeToggler />
         <LanguageToggler />
         <DownloadCvBtn />
      </div>
   </div>
</header>
