---
import ArrowSVG from "./ArrowSVG.astro";
const { pageUrl } = Astro.props;
---

<a
   class="absolute rounded-full p-2 right-8 top-8 cursor-pointer border-2 border-slate-400 hover:bg-slate-400 hover:text-slate-900 opacity-70"
   href={pageUrl}
   target="_blank"
   aria-label="Link to project"
>
   <ArrowSVG />
</a>
