<a
   class="absolute rounded-full p-2 right-8 top-8 cursor-pointer border-2 border-slate-400 hover:bg-slate-400 hover:text-slate-900 opacity-70"
>
   <svg
      stroke="currentColor"
      fill="currentColor"
      stroke-width="0"
      viewBox="0 0 24 24"
      height="1em"
      width="1em"
      xmlns="http://www.w3.org/2000/svg"
   >
      <path fill="none" d="M0 0h24v24H0z"></path>
      <path d="M6 6v2h8.59L5 17.59 6.41 19 16 9.41V18h2V6z"></path>
   </svg>
</a>
