---
import SectionContainer from "./SectionContainer.astro";
import GridTile from "./GridTile.astro";
import ProjectDescription from "./ProjectDescription.astro";
const description = "You can see here all of my projects";
const title = "Projects";
---

<SectionContainer title={title} description={description}>
   <div class="grid grid-cols-8 auto-rows-[140px] gap-4">
      <GridTile propClasses="col-span-4 row-span-3 p-8 relative on-hover-el">
         <ProjectDescription
            projName="SisConv"
            projDesc="Native application made for a gubernamental institution."
            projTechs={["Java", "MySQL", "Hibernate", "UML"]}
            imgSource="src/assets/Giffyall.webp"
         />
      </GridTile>
      <GridTile propClasses="col-span-4 row-span-2 p-8 relative on-hover-el">
         <ProjectDescription
            projName="Marvelsite"
            projDesc="A personal project that uses official Marvel API."
            projTechs={["React.js", "Styled Components"]}
         />
      </GridTile>
      <GridTile propClasses="col-span-4 row-span-3 p-8 relative on-hover-el">
         <ProjectDescription
            projName="My Unsplashed"
            projDesc="A personal project of a gallery."
            projTechs={["React.js", "Styled Components"]}
            imgSource="src/assets/MyUnsplashed.webp"
         />
      </GridTile>
      <GridTile propClasses="col-span-4 row-span-2 p-8 relative on-hover-el">
         <ProjectDescription
            projName="Marvelsite"
            projDesc="A personal project that uses official Marvel API."
            projTechs={["React.js", "Styled Components"]}
            imgSource="src/assets/Marvelsite.webp"
         />
      </GridTile>
   </div>
</SectionContainer>
