---
import SectionTitle from "./SectionTitle.astro";
const { title, description } = Astro.props;
---

<section class="flex flex-col gap-10 section">
   <SectionTitle title={title} description={description} />
   <slot />
</section>
