---
const { title, description } = Astro.props;
---

<header
   class="flex flex-col items-center justify-between w-full text-black dark:text-white inactive animated delayed"
>
   <h1 class="text-3xl font-bold">{title}</h1>
   <p class="opacity-70">{description}</p>
</header>
