---
import BorderShadow from "./CarouselBorderShadow.astro";
import Skills from "./SkillsList.astro";
---

<div
   class="flex items-center justify-between px-10 h-40 w-full dark:bg-dark-tiles-color rounded-3xl dark:text-white text-black bg-light-tiles-color animated inactive delayed overflow-hidden relative"
>
   <BorderShadow side="left" />
   <BorderShadow side="right" />
   <div
      class="w-full inline-flex flex-nowrap overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_#cbd5e1_128px,_#cbd5e1_calc(100%-200px),transparent_100%)]"
   >
      <Skills />
      <Skills />
   </div>
</div>
